/****** COLORS ******/

$RichBlack: #010922;
$CetaceanBlue: #0b0f2f;
$DeepKoamaru: #312964;
$Ceil: #8f8fdb;
$MiddleBlueGreen: #86cfd0;
$Crystal: #aed4db;
$BrightGray: #ebebeb;

/****** TRANSITIONS ******/

$Transition-03: 0.3s all ease-in;