@use "../_partials/mixins" as *;
@use "../_partials/variables" as *;

.MainContainer {
    display: flex;
    flex-direction: column;
    > * {
        display: flex;
    }
}

.TopContent {
    display: flex;
}

.HeroSection {
    flex-direction: column;
    .TopContent > .LeftSideContent {
        .SiteHeadingOne {
            @include HeadingOneTypography;
            color: $BrightGray;
        }
        .SiteHeroParagraph {
            @include BodyTypography;
            color: $BrightGray;
        }
    }
    .FeaturedOnContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        .FeaturedOnTitle {
            @include BodyTypography;
            color: $BrightGray;
        }
        .FeaturedOnLogos {
            display: flex;
            gap: 65px;
            align-items: center;
        }
    }
}

.AccentColor {
    color: $MiddleBlueGreen;
}