@use '../_partials/mixins' as *;
@use '../_partials/variables' as *;

.Header {
    display: flex;
    align-items: center;
    > * {
        display: flex;
        align-items: center;
    }
    .HeaderNav {
        color: $BrightGray;
        gap: 60px;
        @include BodyTypography;
        .HeaderNavList {
            gap: 60px;
            display: flex;
            list-style-type: none;
            li {
                cursor: pointer;
            }
        }
    }
    .CTAButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        height: 45px;
        width: 135px;
        border-radius: 27.5px;
        outline: none;
        border: none;
        background-color: $DeepKoamaru;
        @include CTAButtonTypography;
        cursor: pointer;
        .AnimatedPulseFront {
            width: 10px;
            height: 10px;
            background-color: $Ceil;
            border-radius: 50%;
            filter: blur(2px);
            position: relative;
            left: 10px;
        }
        .AnimatedPulseBack {
            position: relative;
            transform: translateX(-8px);
            height: 20px;
            width: 20px;
            border-radius: 50%;
            animation: pulse-animation 1.5s infinite;
        }
    }
}

.NavbarToggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: transparent;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    .ToggleLine {
        transition: $Transition-03;
        height: 0.5px;
        background-color: $BrightGray;
        &:not(:nth-child(2)) {
            width: 25px;
        }
        &:nth-child(2) {
            width: 17.42px;
        }
    }
}

.ToggleActive .ToggleLine {
    &:first-child {
        transition: $Transition-03;
        transform: rotate(45deg) translate(8px, 7px);
    }
    &:nth-child(2) {
        transition: $Transition-03;
        opacity: 0;
    }
    &:last-child {
        transition: $Transition-03;
        transform: rotate(-45deg) translate(8px, -7px);;
    }
}

/****** RESPONSIVE TOGGLE *****/

@media only screen and (width <= 655px) {
    .NavbarToggle {
        display: flex;
        z-index: 2;
        cursor: pointer;
    }
    .HeaderNavList {
        position: absolute !important;
        left: 0;
        background-color: $CetaceanBlue;
        width: 100vw;
        height: 100vh;
        top: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        transform: translateY(-100%);
        transition: $Transition-03;
        z-index: 1;
    }
}

.NavActive {
    transform: translateX(0%);
}

/****** KEYFRAMES ******/

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px #010922;
    }
    50% {
        box-shadow: 0 0 0 7px #010922;
        filter: blur(7px);
    }
    100% {
        box-shadow: 0 0 0 0px #010922;
    }
}